<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row align-items-end">
     <div class="form-group col-md-4">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: 'required', autofocus: true %>
    </div>
     <div class="form-group col-md-2">
      <%= form.label :kind %>
      <%= form.select :kind, Person.kinds.keys.map { |w| [w.humanize, w] }, {:include_blank => false}, {class: 'form-control custom-select'} %>
    </div>

     <div class="form-group col-mb-2">
      <%= form.submit class: 'btn btn-primary' %>
    </div>

  </div>
<% end %>
