<% for kind in @kinds %> 
<h3><%= kind.humanize %></h3>
<ul class="list-group list-group-flush">
<% for person in @people.filter {|p| p.kind == kind} %>
  <%= link_to person_schedule_url(person.id), class: 'list-group-item list-group-item-action d-flex justify-content-between' do %>
    <%= person.name %>
    <div class="col-md-6 row">
        <div class="text-warning col-md-6">
            <% if person.schedule_items.where(is_global: false, meeting_link: '').any? %>
                <%= fa_icon "exclamation-triangle", text: " Zoom Links Missing", size: '1x', left: true %>
            <% end %>
        </div>
        <div class="text-danger col-md-6">
            <% if person.schedule_conflicts.count > 0 %>
                <%= fa_icon "exclamation-circle", text: " Conflicts detected", size: '1x', left: true %>
            <% end %>
        </div>
    </div>
  <% end %>
  </ul>
<%end%>
<%end%>