<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <%= link_to 'Visit Day', root_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <%= link_to 'Schedules', all_schedules_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Student Panel', "/student_panel", class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Global Events', global_schedule_url, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Manage People', people_url, class: 'nav-link' %>
            </li>
            <li class="nav-time">
                <%= link_to 'Invite Schedulers', new_user_invitation_url, class: 'nav-link' %>
            </li>
        <% end %>
        </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>        
            <% else %>
            <%= link_to('Login', new_user_session_path, class: 'nav-link') %>  
            <% end %>
        </li>
        </ul>
    </div>
</nav>