<!DOCTYPE html>
<html>
  <head>
    <title>VisitDay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/layouts/navbar' %>
    <div class="container pt-md-3">
    <% flash.each do |key, value| %>
      <div class="row flex-xl-nowrap <%= flash_class(key) %>">
        <%= raw(value) %>
      </div>
    <% end %>
    </div>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
